*, *:before, *:after {
  box-sizing: border-box;
}

section {
 padding: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 10px 0;

      a {

        img {
          height: 150px;
        }
      }
    }
  }
}

img {
  width: 100%;
}

.image-wrapper {
  position: relative;
  margin: 0 0 10px 0;
}

.pointer {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fc7240;
  border: 3px solid #ccc;
  cursor: pointer;

  &:hover {
    .pointer-content {
      .pointer-tooltip {
        display: block;
      }
    }
  }

  .pointer-content {
    position: relative;

    .pointer-tooltip {
      display: none;
      position: absolute;
      left: 42px;
      top: -1px;
      height: 35px;
      width: 120px;
      background: #333;
      border-radius: 5px;
      box-shadow:0 0 15px #fbfbfb;
      text-align: center;

      &::after {
        content: " ";
        position: absolute;
        top: 50%;
        right: 100%; /* To the left of the tooltip */
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #333 transparent transparent;
      }

      span {
        color: #fbfbfb;
        font: normal 13px/33px Arial;
      }
    }
  }
}